streamlit
python-dotenv
langchain
langchain-community
langchain-chroma
langchain-core
langchain-huggingface
langchain-groq
chromadb==0.4.24
huggingface_hub
sentence-transformers
pypdf

# Fix version issues
protobuf==3.20.*
opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-exporter-otlp==1.22.0
numpy<2.0.0


